.projectsModule {
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
}
.border {
    width: 100%;
    max-width: 100%;
    padding-bottom: .2rem;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    display: flex;
    flex-wrap: nowrap;
}

.borderBottom {
    width: 100%;
    max-width: 100%;
    padding-bottom: 3.5rem;
    margin-bottom: auto;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
    display: flex;
    flex-wrap: nowrap;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-black), var(--mantine-color-white));
}


.infoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}

.title {
    font-weight: 700;
    font-size: .85rem;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.subtitle {
    font-weight: 400;
    font-size: .7rem;
    color: grey;
}

.pOneContainer {
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 37%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.pTwoContainer {
    display: flex;
    flex-direction: column;
    width: 56%;
    height: 20%;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;

}

.pThreeContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 20%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.pFourContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.footer {
    margin-top:auto;
    width: 100%;
    height: 3.5rem;
    display: flex;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.footerButton {
    height: 100%;
    width: 70%;
    border-right: rem(1px) solid light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 600;
    font-size: .9rem;
    padding-left: 1.4rem;
    padding-top: 1rem;
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: light-dark(var(--mantine-color-grape-4), var(--mantine-color-dark-9));
    }
}

.footerInfo {
    height: 100%;
    width: 30%;
    font-weight: 400;
    font-size: .7rem;
    color: grey;
    text-align: center;
    vertical-align: middle;
    line-height: 3.3rem;  
    word-wrap: normal;   
}

@media (max-width: 1080px) {
    .footerInfo {
        width: 50%;
    }

    .footerButton {
        width: 50%;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 910px) {
    .border, .borderBottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pOneContainer {
        width: 90%;
        margin-left: 0;
    }

    .pTwoContainer {
        width: 90%;
    }

    .pThreeContainer {
        width: 90%;
        margin-left: 0;
    }

    .pFourContainer {
        width: 90%;
    }

}

@media (max-width: 720px) {

}
