.border {
    height: 100vh;
    padding-top: 2.2rem;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: rem(90px);
}

.center {
    display: flex;
    flex-direction: column;
    border: 0px solid blue;
}

.subtitle {
    display: flex;
    font-size: 4.2rem;
    line-height: 3.1rem;
    padding-top: 2px;

}
.main{
    line-height: 6rem;
    font-size: 7rem;
    border-bottom: .17rem solid rgba(230, 230, 230, 1);
}

.codename {
    color: rgba(230, 230, 230, 1);
    font-weight: 100;
    font-size: 4rem;
}
.code {
    color: #f34141;
    font-weight: 100;
    font-size: 4rem;

}

.codelt {
    color: #f34141;
    font-weight: 100;
    font-size: 4rem;
    margin-left: .5rem;

}
